@model TourismWebsite.Models.Tourist

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tourist</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TouristName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TouristName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TouristGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TouristGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TouristAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TouristAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TouristContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TouristContact)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TouristID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
