@model IEnumerable<TourismWebsite.Models.Tourist>

@{
    ViewData["Title"] = "Index";
}

<h1>Tourists

</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TouristName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TouristGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TouristAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TouristContact)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TouristName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TouristGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TouristAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TouristContact)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TouristID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TouristID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TouristID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
