@model IEnumerable<TourismWebsite.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Bookings</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tourist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agency)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tourist.TouristName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Guide.GuideName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination.DestinationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agency.AgencyName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookingID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookingID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
