@model IEnumerable<TourismWebsite.Models.Guide>

@{
    ViewData["Title"] = "Index";
}

<h1>Guides</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GuideName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuideGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuideContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuidingExperience)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GuideName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuideGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuideContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuidingExperience)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GuideID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GuideID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GuideID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
