@model TourismWebsite.Models.Destination

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Destination</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationPackage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationPackage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DestinationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
